
    <h1>Sign Up</h1>


    <form action="<%= users_url %>" method="post">


      <label>Email:
        <input type="text" name="user[email]">
      </label>
      <br>

      <label>Password:
        <input type="password" name="user[password]" >
      </label>
      <br>

      <span><br><input type="submit" value="Sign up"></span>



    </form>
